@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

body {
  background-color: gray;
}

input {
  outline: none;
}

// body {
//   min-height: 100vh;
// }

// #root {
//   height: 100%;
// }